footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: linear-gradient(
      to right,
      black,
      #fec63d,
      black
      );
    img {
        padding: 5px;
        margin: 8px;
        gap: 40px;
        position: static;
        top: auto;
        width: 50%;
        height: 20%;
      }
      p{
        @include flex(column,center,center);
      }
  }
  
  .redes{
    display: flex;
    flex-direction:column;
    align-items: center;
    a { 
        text-decoration: none;
        text-decoration-color: $mainColor;
        color: black;
        font-size: 35px
     }
  
  }
